<div class="panel">
  <label for="name">Enter name</label><br>
  <input type="text" name="name"><br>
  <label for="bio">Tell us about yourself</label><br>
  <input type="text" name="bio"><br>
  <label for="age">Enter age</label><br>
  <input type="number" name="age"><br>
  <label for="orientation">Enter your sexual orientation</label><br>
  <input type="text" name="orientation"><br>
  <label for="imageUrl">Enter an image url of you!</label><br>
  <input type="text" name="imageUrl"><br>
  <label for="interests">Enter your interests</label><br>
  <input type="text" name="interests"><br>
  <button type="submit" name="button">Create Account</button>
</div>
