<div class="panel">
  <h1>Create New Account</h1>
  <label for="name">Name</label><br>
  <input type="text" name="name" placeholder="Enter name" id="newName"><br>
  <label for="bio">Tell us about yourself</label><br>
  <textarea name="bio" placeholder="Write a short biography!" rows="5" id="newBio"></textarea><br>
  <label for="age">Age</label><br>
  <input type="number" name="age" placeholder="Age" id="newAge"><br>
  <label for="orientation">You are a...</label><br>
  <select class="menu" name="orientation" id="newOrientation">
    <option value="mfw">Man seeking women</option>
    <option value="wfm">Woman seeking men</option>
    <option value="mfm">Man seeking men</option>
    <option value="wfw">Woman seeking women</option>
  </select><br>
  <label for="imageUrl"></label>Avatar<br>
  <input type="text" name="imageUrl"placeholder="Enter an image url of you!" id="newImage"><br>
  <label for="interests">What are you interested in?</label><br>
  <input type="text" name="interests" placeholder="List some interests" id="newInterests"><br>
  <button type="submit" name="button">Create Account</button>
</div>
