@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';
.swipe-container {
  margin-bottom: 40px;
  .accept, .reject {
    img {
      height: 105px;
      width: 100px;
    }
  }
  & .swipe-side {
    // overflow-y: hidden;
    // overflow-x: hidden;
    // max-height: 80vh;
    .swiper {
      // display: flex;
      // justify-content: flex-start;
      &.is-active {
        transform: translateX(-100%);
      }
      & .panel-container {
        min-width: 100%;
        .panel {
          margin: 30px auto;
        }
      }
    }
  }
  .user-image-container {
    width: 110%;
    position: absolute;
    max-height: 100%;
    height: $userImageContainerHeight;
    overflow: hidden;
    top: -2em;
    left: -2em;
    right: -2em;
    .hearted {
      display: flex;
      position: absolute;
      opacity: 0;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      transition: opacity 0.3s ease-in;
      background-color: transparentize(black, .8);
      &.been-hearted {
        transition: opacity 0.3s ease-in;
        opacity: 1;
      }
      .hearted-image {
        img {
          height: 205px;
          width: 195px;
        }
      }
    }
    .user-image {
      width: 100%;
      max-width: 100%;
    }
  }
  .info{
    margin-top: $userImageContainerHeight;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    h2 {
      margin: 0;
      font-size: 2.4em;
    }
    p {
      flex: 1 0 100%;
    }
  }
  .buttons{
    display: flex;
    justify-content: space-between;
  }

  @include media-query(860px) {
    $userImageContainerHeight: 250px;
  }
}
@include media-query(414px) {
  .swipe-container{
    .user-image-container{
      height:250px;
    }
    .info{
      margin-top: 200px;
    }
    .swipe-side{
      .swiper{
        & .panel-container{
          margin: 0;
          .panel{
            margin: 10px auto 10px auto;
          }
        }
      }
    }
  }
}
