<div class="swipe-container">
  <div class="panel">
    <h3>Tailor your matches</h3>
    <label for="user">Who are you looking for?</label><br>
    <select class="filter" [(ngModel)]="parameter">
      <option value="mfw">Straight men</option>
      <option value="wfm">Straight women</option>
      <option value="mfm">Gay men</option>
      <option value="wfw">Gay women</option>
      <option value="bim">Any interested in men</option>
      <option value="biw">Any interested in women</option>
    </select>
  </div>
  <div *ngFor ="let user of users | filter: parameter">
    <div class="panel" *ngIf="!user.rejected">
        <div class="user-image-container">
          <img class="user-image" src="{{user.imageUrl}}">
        </div>
        <div class="info">
          <h2>{{user.name}}</h2>
          <h2>{{user.age}}</h2>
          <p>{{user.bio}}</p>
        </div>
        <div class="buttons">
          <div name="reject" class="reject">
            <img (click)="toggle(user)" src="./../assets/dislike.svg" alt="">
          </div>
          <div name="accept" class="accept">
            <img src="./../assets/heart.svg" alt="">
          </div>
        </div>
    </div>
  </div>
</div>
