@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';
.accept, .reject {
  padding: 20px;
  border-radius: 50%;
}
.accept{
  border: 0px;
  background-color: $orange;
  svg{
    position: relative;
    top: 8px;
  }
}
.reject{
  border: 0px;
  background-color: $grey;
  svg{
    height: 55px;
    width: 55px;
  }
}
.buttons{
  display: flex;
  justify-content: space-between;
}
img{
  size: inherit;
}
.image{
  display: flex;
  justify-content: center;
  width: inherit;
}
