<div class="user-module">
  {{user.picture}}
  <div class="info">
    <h4>{{user.name}}</h4>
    <h4>{{user.age}}</h4>
  </div>
  <p>{{user.biography}}</p>

<svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="swipe" transform="translate(-321.000000, -425.000000)">
            <g id="x" transform="translate(321.000000, 425.000000)">
                <circle id="Oval" fill="#525353" fill-rule="evenodd" cx="50" cy="50" r="50"></circle>
                <path d="M28.2978723,29.5744681 L72.1018309,73.3784266" id="Line" stroke="#8D8D8D" stroke-width="10" stroke-linecap="square"></path>
                <path d="M28.2978723,29.5744681 L72.1018309,73.3784266" id="Line-Copy" stroke="#8D8D8D" stroke-width="10" stroke-linecap="square" transform="translate(50.212766, 51.489362) scale(1, -1) translate(-50.212766, -51.489362) "></path>
            </g>
        </g>
    </g>
</svg>

<svg width="100px" height="103px" viewBox="0 0 100 103" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
        <filter x="-1.5%" y="-1.5%" width="103.0%" height="106.0%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feColorMatrix values="0 0 0 0 0.833864796   0 0 0 0 0.254742668   0 0 0 0 0.254742668  0 0 0 1 0" type="matrix" in="shadowOffsetOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="swipe" transform="translate(-1020.000000, -425.000000)">
            <g id="heart" transform="translate(1020.000000, 425.000000)">
                <g filter="url(#filter-1)">
                    <circle id="Oval" fill="#FF6F59" cx="50" cy="50" r="50"></circle>
                    <path d="M79.0184233,29.3544502 C71.3669748,22.8783149 59.9875395,24.0431872 52.9644033,31.2404339 L50.2137913,34.055542 L47.4631794,31.2404339 C40.4540057,24.0431872 29.0606079,22.8783149 21.4091593,29.3544502 C12.640711,36.7874449 12.1799486,50.1280062 20.0268721,58.1850396 L47.0443044,85.8923593 C48.7896166,87.6812703 51.6240036,87.6812703 53.3693157,85.8923593 L80.3867481,58.1850396 C88.2476341,50.1280062 87.7868717,36.7874449 79.0184233,29.3544502 Z" id="Shape" fill="#CD3B24" fill-rule="nonzero"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
</div>
