@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: $white;
}
h1{
  font-weight: 200;
  font-style: italic;
}

a:hover{
  color: $orange;
}
button{
  background-color: rgba(0,0,0,0);
  border: 1px $black solid;
  border-radius: 10px;
  padding: 15px 45px 15px 45px;
  font-size: 1em;
}
svg:hover{
  -webkit-filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.15));
  filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.15));
}
button:hover{
  border: 1px $orange solid;
  color: $orange;
}

.credits{
  position: fixed;
  bottom: 0px;
  height: 50px;
  display: flex;
  sub{
    flex-direction: row;
    align-self: center;
  }
}
.active{
  padding-bottom: 10px;
  border-bottom: 6px $blue solid;
}

@include media-query(414px) {
  .navigation{
    justify-content: center;
    h1{
      display: none;
    }
    button{
      display: none;
    }
  }
  .credits{
    display: none;
  }
}
