@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #FAB3A9;
}
h1{
  font-weight: 200;
  font-style: italic;
}

button{
  background-color: rgba(0,0,0,0);
  border: 1px #353D38 solid;
  border-radius: 10px;
  padding: 15px 45px 15px 45px;
  font-size: 1em;
}
button:hover{
  border: 1px #F9FBF2 solid;
  color: #F9FBF2;
}

.credits{
  position: fixed;
  bottom: 0px;
  height: 50px;
  display: flex;
  sub{
    flex-direction: row;
    align-self: center;
  }
}
.active{
  padding-bottom: 10px;
  border-bottom: 6px #6CD4FF solid;
}
