<div class="navigation">
  <svg width="221px" height="42px" viewBox="0 0 221 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="56.7">
        <g id="splash" transform="translate(-38.000000, -48.000000)">
            <g id="Logo" transform="translate(37.000000, 35.000000)">
                <g id="Group">
                    <text id="&lt;/" font-family="Raleway-Regular, Raleway" font-weight="normal" fill="#353D38">
                        <tspan x="0" y="53.5">&lt;/</tspan>
                    </text>
                    <text id="JDDB" font-family="Raleway-Black, Raleway" font-weight="700" letter-spacing="-1.32890625" fill="#FFD166">
                        <tspan x="48.825" y="53.5">JDDB</tspan>
                    </text>
                    <text id="&gt;" font-family="Raleway-Regular, Raleway" font-weight="normal" fill="#353D38">
                        <tspan x="195.3" y="53.5">&gt;</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
  </svg>
  <h1>Heart</h1>
  <h1><a routerLink="browse">Match</a></h1>
  <button name="button">Join</button>
</div>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
<div class="credits">
  <sub>© 2018</sub>
</div>
