@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  font-weight: 200;
  font-style: italic;
}

button{
  background-color: none;
  border: 1px #353D38 solid;
  border-radius: 10px;
  padding: 15px 30px 15px 30px;
  font-size: 1em;
}

.credits{
  position: fixed;
  bottom: 0px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}
