<div class="panel">
  <h3>User List:</h3>
  <div class="grid">
    <div *ngFor="let user of users">
      <a  [routerLink]="['/detail', user.id]">
        <h5>User: {{user.id}} - {{user.name}}</h5>
        <img src="{{user.imageUrl}}">
        <h5>Bio: {{user.bio}}</h5>
        <h5>Age: {{user.age}}</h5>
        <h5>Interests: {{user.interests}}</h5>
        <h5>Orientation: {{user.orientation}}</h5>
      </a>
      <button [routerLink]="['/detail']" type="button" name="button">Edit user</button>
      <button (click)="deleteUser(user.id)" type="button" name="button">Delete user</button>
    </div>
  </div>
</div>
