.user-image {
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
  img {
    width: inherit;
  }
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
}
