/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: $black;
  background: radial-gradient(at bottom, #FBA498,#FAB3A9) {
    repeat: no-repeat;
    position: bottom;
    color: $pink;
  }
  height: 100vh;
}
a{
  color: $black;
  text-decoration: none;
}

.panel{
  background-color: $white;
  width: 50vw;
  margin: 0 auto;
  padding: 2vh;
  border-radius: 10px;
}
