/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import 'styles/abstracts/variables';
@import 'styles/abstracts/mixins';

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: $black;
  background: radial-gradient(at bottom, #FBA498,#FAB3A9) {
    repeat: no-repeat;
    position: bottom;
    color: $pink;
  }
  height: 100%;
}
a{
  color: $black;
  text-decoration: none;
}
.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  width: 65vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 2em;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
@include media-query(414px) {
  .panel{
    width: 85vw;
  }
}
